* {
  box-sizing: border-box;/*não permite que o padding passe no max weight*/
  font-family: 'Roboto', sans-serif;/*fonte colocado no html*/
}
/*css variables*/
:root {
  --primary: #2A7AE4;
  --black: #0e0d0d;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #c7c4c4; 
  --white: #FFFFFF;
  --frontEnd: #6BD1FF;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(226, 225, 225); 
 
}
a {/*link com a cor do pai*/
  color: inherit;
} 

